.profile__edit-btn{
  border: 1px solid #fff;
  background-color: black;
  background-image: url(../../../images/Карандашик.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  grid-area: edit;
  margin: 38px 0 0 18px;
}

@media  screen and (max-width: 689px) {
  .profile__edit-btn {
    width: 18px;
    height: 18px;
    margin: 34px 0 0 10px;
  }
}