.profile__add-btn{
  border: 2px solid #fff;
  background-image: url(../../../images/плюсик.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  height: 50px;
  margin: auto 0 auto auto;
  
}

@media  screen and (max-width: 880px){
  .profile__add-btn{
    margin: 0 auto;
  }
}

@media  screen and (max-width: 596px){
  .profile__add-btn{
    background-image: url(../../../images/plus_smol.png);
    width: 100%;
  }
}