.elements{
  /*border: 1px solid wheat;*/
  display: grid;
  gap: 17px 20px;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  justify-items: center;
}

@media  screen and (max-width: 585px){
  .elements{
    gap: 20px;
  }
}