.popup__info-tooltip-title {
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;
  margin: 0 auto;
  padding: 33px 0 60px;
  max-width: 360px;
  text-align: center;
}

@media screen and (max-width: 680px) {
  .popup__info-tooltip-title {
    font-size: 18px;
    line-height: 20px;
    padding: 25px 22px 0 22px;
  }
}