.logo{
  /*border: 1px solid rgb(255, 0, 247);*/
  max-width: 142px;
  height: 33px;
  background-image: url(../../images/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media  screen and (max-width: 568px){
  .logo{
    max-width: 103.74px;
    height: 24.4px;
    margin-left: 27px;
  }
}