.popup__container{
  /*border: 1px solid greenyellow;*/
  width: 100%;
  max-width: 430px;
  max-height: 330px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}

@media  screen and (max-width: 525px){
  .popup__container{
    max-height: 322px;
    margin: 0 19px;
  }
}